@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --primary: #7898FF;
    --secondary: #8E64C5;
    --app-grey: #F2F2F2;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
background: linear-gradient(110deg, var(--primary), var(--secondary));
height: 100vh;
}

h1{
  text-align: center;
  margin: 20px 0;
}



/*.tarjeta{
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  height: 250px;
  width: 50%;
  max-width: 400px;
}*/

.tarjeta {
	background-color: #fff;
	border-radius: 3px;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	width: 300px;
	max-width: 100%;
}

.tarjeta img {
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta p {
  color: #777;
}

.btnContainer{
  padding: 20px 0;
  text-align: center;
}
.btnContainer button{
  background-color: white;
	border: 0;
	border-radius: 3px;
	color: black;
	padding: 10px 25px;
	margin-top: 25px;
}

